@import org.poster.control._
@(plist: List[Post], user: User, greeting: String)

<html>
    <head>
        <title>Poster</title>
        <!--link type="text/css" href="/css/bootstrap.css" rel="stylesheet" /!-->
        <!--link href="/css/bootstrap-responsive.css" rel="stylesheet" /!-->
        <!--link href="/css/syntax.css" rel="stylesheet" /!-->
        <link type="text/css" href="/css/scalatra.css" rel="stylesheet" />
    </head>
    <body>
        <h1>@greeting</h1>
        <div id="nav">
            <a href="/post" class="btn btn-primary">Post post</a>
            <a href="/login" class="btn btn-primary"> Sing in/Sign up</a>
            @if(user.id > 1) {
                <a href="/" class="btn btn-primary">All posts</a>
                <a href="/user/@user.user_name" class="btn btn-primary">Home</a>
                <a href="/logout" class="btn btn-primary">Logout</a>
            }
        </div>
        <dl>
            @for(post <- plist) {
                @if(post.msg != "") {
                    <dt>@post.name</dt>
                        <dd>@post.date</dd>
                        <dd>@post.msg</dd>
                        @if((user.id == post.user_id) && (user.id > 1)) {
                            <a href="/edit/@post.id" class="btn btn-primary">Edit</a>
                        }
                }
            }
        </dl>
    </body>
</html>
