@(user: org.poster.control.User)

<html>
<head>
    <title>Post mess</title>
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="/css/syntax.css" rel="stylesheet" />
    <link href="/css/scalatra.css" rel="stylesheet" />
</head>
<body>
    <h2>Post your message: </h2>
    <script type="text/javascript">
        function validateForm() {
            var msg=document.forms["Form"]["message"].value;
            if (msg==null || msg=="" || msg==" ") {
                alert("Message cannot be empty!");
                return false;
            }
            if (!msg.replace(/\s/g, '').length) {
                alert("Srsly? Stop frodding! Write something useful...");
                return false;
            }
        }
    </script>
    <form action="/post" method="POST" name="Form" onsubmit="return validateForm()">
        <dl>
            <dt>Your name:
                <dd><input type="text" name="user_name" value=@user.user_name style="padding-bottom: 0.5em"></dd>
            <dt>Your post:</dt>
            <dd><textarea name="message" rows="5" cols="40"></textarea>
            <dd><input type="submit" value="Post" class="btn btn-primary">
        </dl>
    </form>
    <a href="/" class="btn btn-primary">Back</a>
</body>
</html>
