@import org.poster.control._
@(user: User, plist: List[Post])
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@user.user_name</title>
    <link type="text/css" href="/css/scalatra.css" rel="stylesheet" />
</head>
<body>
    <h1>Hello @user.user_name!</h1>
    <div id="nav">
        <a href="/" class="btn btn-primary">Home</a>
    </div>
    <dl>
        @for(post <- plist) {
            @if(post.msg != "") {
                <dt>@post.name</dt>
                    <dd>@post.date</dd>
                    <dd>@post.msg</dd>
            }
        }
    </dl>
</body>
</html>
